.container-carrinho {
    align-items: center;
    display: flex;
    width: 10vw;
}

#carrinho-qntd {
    font-size: 2.5em;
    margin-left: 5px;
}

#qnt-span {
    margin: 5px;
}

td {
    text-align: center;
}