{% extends "estoque/base.html" %}

{% block title %}{{ aproduto.aprodutonome }}{% endblock %}

{% block content %}
    <header>
        <h1>Confirmar exclusão</h1>
    </header>
<form action="" method="POST">
    {% csrf_token %}
    <ul>
        <li>Nome: {{aproduto.aprodnome}}</li>
        <li>Valor: {{aproduto.aprodvalor}}</li>
        <li>Quantidade: {{aproduto.aprodqntd}}</li>
        <li>Ativo: {{aproduto.aprodativo}}</li>
    </ul>
    <input type="submit" value="Confirmar exclusão">
</form>
<a href="{% url 'produto:list' %}"><button type="button">Voltar</button></a>
{% endblock %}