{% extends 'estoque/base.html' %}
{% block content %}
<aside>
    <div>
        <div>
            <p>Pedido Id: <span id="apediid">{{ order_list.get_context_data}}</span></p>
        </div>
        <table>
            <thead>
                <th>Produto</th>
                <th>Valor</th>
                <th>Quantidade</th>
            </thead>
            <tbody>
            {% for produto in produtos_pedido %}
                <tr>
                    <td><a href="{{ produto.get_absolute_url }}">{{ produto.aprinid_apro.aprodnome }}</a></td>
                    <td>{{ produto.aprinval }}</td>
                    <td>{{ produto.aprinqnt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</aside>
{% endblock %}